* {
	margin: 0px;
	border: 0px;
	padding: 0px;
	background-color: rgb(33, 33, 33);
	color: rgb(200, 200, 200);
	box-sizing: border-box;
}

#grid {
	margin: 16px;
	border: 0px;
	padding: 0px;
}

#colorsel {
	height: 128px;
	width: 128px;
}

.dontuchme {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}